body {
    background-color: #31373d !important;
    color: white !important;
    font-family: Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.MuiPaper-root {
    color: white;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #31373d;
}

.MuiIconButton-root {

    color: white;
}

.MuiListItem-button:hover {
    text-decoration: none;
    background-color: rgb(152 55 47);
}